<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informational Site</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact-me">Contact Me</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Informational Site</h1>
      <h2>About</h2>
      <p>This very basic page was made to learn NodeJS</p>
    </main>
    <footer>
      <p>
        Axel C. Lopez @Copyright 2022
        <a href="https://github.com/lopezac">GitHub</a>
      </p>
    </footer>
  </body>
</html>
